* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --body-bg: #162521;
  --body-color: #c0e0de;
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-bg);
  color: var(--body-color);
  line-height: 1.6;
}

body.light-mode {
  --body-bg: #f0f6f3;
  --body-color: #37474f;
}

h2,
p,
li {
  text-align: justify;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Poppins", sans-serif;
  margin: 15px auto;
  text-align: center;
  max-width: 80%;
}

h2 {
  font-family: "Poppins", sans-serif;
  margin: 15px auto;
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--body-bg); /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* Ensure button is above other elements */
}

.imagem {
  max-width: 300px;
  height: 300px;
  border-radius: 20px;
}

footer {
  background-color: var(--body-bg);
  color: var(--body-color);
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: 10rem;
  transition: background-color var(--body-bg) 3s ease, color 0.3s ease;
}

footer a {
  color: var(--body-color);
  text-decoration: none;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  p {
    width: fit-content;
  }
}

.about-me {
  text-align: justify;
  margin-top: 0;
}

.hamburguer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 20px;
  left: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--body-color);
  margin: 3px 0;
  transition: 0.4s;
}

.hamburguer.open {
  width: 100%;
  height: 100%;
  cursor: default;
  margin-bottom: 20px;
}

.hamburguer.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburguer.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburguer.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu.open {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 20px;
  top: 65px;
  width: auto;
  height: auto;
  background-color: var(--body-bg);
  padding: 0;
  border-radius: 10px;
  border: black solid 1px;
}

.menu.open li {
  width: fit-content;
  padding: 10px;
  text-align: left;
  margin: 0;
}

.menu.open a {
  --s: 0.1em;
  --c: var(--body-color);

  color: var(--body-color);
  padding-bottom: var(--s);
  background: calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

.menu.open a:hover {
  --_p: 100%;
}

.menu.open {
  animation: scale-up-top-left 0.4s;
}

.menu {
  display: none;
}

.menu li {
  list-style-type: none;
}

.menu a {
  color: var(--body-color);
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  list-style-type: none;
}

.habilidades-mobile {
  display: none;
}

.app {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.tag-list {
  width: 30rem;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

.loop-slider .inner {
  display: flex;
  animation: loop linear infinite var(--duration) var(--direction);
}

.tag {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  background-color: #172326;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2),
    0 0.1rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.2rem 1.5rem rgba(0, 0, 0, 0.4);
}

.tag span {
  font-size: 1.2rem;
  color: #64748b;
}

.theme-toggle {
  width: 5px;
  height: 5px;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scale-up-top-left {
  0% {
    transform: scale(0.5);
    transform-origin: top left;
  }
  100% {
    transform: scale(1);
    transform-origin: top left;
  }
}

@media only screen and (max-width: 600px) {
  .app {
    display: none;
  }

  .habilidades-mobile {
    display: block;
    ul {
      list-style-type: none;
    }
  }
}
